body {
    margin: 50px;
}
header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
}
nav {
    justify-content: space-between;
}
ul {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
}
a{
    color: rgb(0, 153, 0);
    margin-right: 30px;
    text-decoration: none;
}

