@import 'https://use.fontawesome.com/releases/v6.2.1/css/all.css';

ul li{
    display: inline-block;
    margin: 30px;
    list-style: none;
}
a {
    font-size: large;
    color: #000;
    padding: 20px 23px;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
}
.facebook {
    padding: 20px 26px;
}
.facebook:hover {
    color: rgb(59, 89, 152);
}
.twitter:hover {
    color: rgb(29, 161, 242);
}
.google:hover {
    color: rgb(219, 68, 55);
}
.linkedin:hover {
    color: rgb(0, 119, 181);
}
.instagram:hover {
    color: rgb(79, 91, 213);
}