@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

body {
    cursor: pointer;
    outline: none;
}

article {
    padding: 10px 20px;
}
h2 {
    margin: 5px 0;
}
.button, 
.fill, 
.hover{
    border: 2px solid #000;
    font-size: 9px;
    padding: 5px 15px;
    margin: 0 10px 30px 0;
    border-radius: 30px;
    color: #000;
}
a {
    text-decoration: none;
    font-size: 9px;
    color: #000;
}
.normal .button {
    background-color: rgb(251, 251, 251);
}
.filled .button,
.filled .fill,
.filled .hover {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}
.icon .button,
.icon .fill,
.icon .hover {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}
.button:hover,
.fill:hover,
.hover:hover {
    background-color: rgb(0, 102, 0);
    border: 2px solid rgb(0, 102, 0);
    outline: none;
}
